.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px palevioletred;
}
.note{
    font-size: 15px;
    color: peachpuff;
}
.copy_right_footer{
    position: fixed;
    color: peru;
    background-color: plum;
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;
}
canvas{
    border: 5px dotted  indigo;
    box-shadow: 5px 5px 5px palegreen;
    border-radius: 20px;
} 